.brands {
  margin: 2rem 0 2rem 0;
  width: 100%;
  overflow: hidden;
}
.brands h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: center;
}

.brands-images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
}

.brands-images-container img {
 width: 308px;
 height: 64px;
}

.brands-images-container .slider-component {
  height: 90px;
}

.slider-item {
  box-shadow: 0 4px 8px rgb(86 115 101/15%);
}

@media(min-width: 1920px) {
  .brands-images-container {
    gap: 1.4rem;
  }
}

@media(min-width: 64rem) {
  .brands-images-container {
    padding-left: 0;
  }
}