.store-diference {
  margin-top: 1rem;
  width: 100%;
  overflow: hidden;
}

.store-diference h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.store-diference-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  padding-left: 2rem;
}

.store-diference-card {
  display: flex;
  padding: 0.5rem 0 0.5rem 1.5rem;
  align-items: center;
  width: 308px;
  min-width: 298px;
  height: 64px;
  left: 645px;
  border-radius: 4px;
  background-color: #EFEFEF;
  gap: 1rem;
}

.store-diference img {
  height: 32px;
  width: 32px;
}

.card-texts p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  margin: 0;
}

.card-texts .card-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #353535;
}

@media(min-width: 64rem) {
  .store-diference-container {
    padding-right: 0;
  }
}